name: AI Pr Review

on:
  pull_request:
    types: [opened, reopened, ready_for_review, review_requested, synchronize]
  issue_comment:

jobs:
  pr_agent_job:
    name: Review Pr
    if: ${{ github.event.sender.type != 'Bot' }}
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
      contents: write
    steps:
      - name: Checkout PR code
        uses: actions/checkout@v3

      - name: Run PR Agent
        id: pragent
        uses: qodo-ai/pr-agent@main
        env:
          OPENROUTER__KEY: ${{ secrets.OPENROUTER__KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
